/* Aumenta la dimensione del testo nei riquadri */
.md-typeset .admonition,
.md-typeset details {
  font-size: 1.05rem;
}

/* Titolo del riquadro */
.md-typeset .admonition-title,
.md-typeset details > summary {
  font-size: 1.08rem;
  font-weight: 700;
}
